@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

:root {
    --mainColor: rgb(156, 64, 249);
}

body {
    overflow: hidden;
}

header {
    width: 100%;
    background-color: var(--mainColor);
    padding: 10px 0;
}

nav {
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav h2 a{
    text-decoration: none;
    color: #000;
    text-transform: uppercase;
}

nav .searchBar {
    background-color: #fff;
    border-radius: 5px;
    padding: 0.6rem 1rem;
}

.searchBar i {
    position: relative;
    left: 1px;
}

.searchBar input[type = "search"] {
    border: none;
    outline: none;
    background: transparent;
    width: 50vw;
    margin-left: 1rem;
    font-size: 0.9rem;
    color: #555;
    
}

nav i {
    position: relative;
    right: -20px;
}