@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

:root {
    --mainColor: rgb(156, 64, 249);
    --secondaryColor: #ca40f9;
}

/* 
body {
    background-image: linear-gradient(to right, var(--mainColor), var(--secondaryColor));
} */

header {
    height: 50px;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #ccc;
    position: relative;
}

header #logo {
    text-transform: uppercase;
    letter-spacing: 10px;
    margin: 15px 0 15px 30px;
    font-weight: 600
}

header #logo a {
    text-decoration: none;
    color: var(--mainColor);
}

header #searchInpt {
    height: 40px;
    width: 60%;
    border-radius: 20px;
    border: 2px solid #ccc;
    position: absolute;
    top: 5px;
    right: 20%;
    bottom: 5px;
    outline: none;
    padding: 10px;
    /* background-image: linear-gradient(to right, var(--mainColor), var(--secondaryColor)); */
}

header #burgerMenu {
    cursor: pointer;
    background: #000;
    display: block;
}

header span {
    height: 3px;
    width: 30px;
    background: var(--mainColor);
    display: inline-block;
    position: absolute;
    right: 5%;
    top: 50%;
    border-radius: 1.5px;
    cursor: pointer;
    transition: .2s ease-in-out;
}

header span::after {
    content: '';
    height: 3px;
    width: 30px;
    background: var(--mainColor);
    position: absolute;
    top: -8px;
    transition: .2s ease-in-out;
}

header span::before {
    content: '';
    height: 3px;
    width: 30px;
    background: var(--mainColor);
    position: absolute;
    top: 8px;
    transition: .2s ease-in-out;
}

/* header span:hover {
    opacity: 0;
} */

header span:hover ::before {
    transform: rotateX(50deg);
}